#root{
  display: flex;
  flex-direction: row;
}

.write{
  width: 50%;
  height: 100vh;
  overflow: auto;
  display: flex;
}

.render{
  width: 50%;
  height: 100vh;
  overflow: auto;
}

.sidebar{
  display: flex;
  width: 20%;
  align-items: center;
  flex-direction: column;
}

.writeArea{
  width: 80%;
}